# Dependencies
node_modules/
__pycache__/
*.pyc

# Build files
build/
dist/
*.egg-info/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
*.pack
.pytest_cache/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
